<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>OSCMAPI</h1>
        <p class="lead"></p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <iframe src="test" id="frame-1" name="frame-1" class="sidebar_container"></iframe>
        </div>
        <div class="col-sm-9">
          <iframe src="map" id="frame-2" name="frame-2" class="map_container"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <iframe src="loader" id="frame-loader" name="frame-loader" class="logging_container"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <iframe src="logging" id="frame-3" name="frame-3" class="logging_container"></iframe>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript"
    src="js/vendor/jquery.js">
  </script>
  <script type="text/javascript"
    src="js/vendor/lodash.compat.min.js">
  </script>
  <script type="text/javascript"
    src="js/eventing/porthole.js">
  </script>
  <script
    src="js/eventing/main_context.js">
  </script>
  <script type="text/javascript">
      /*
      * Create proxy windows to send to and receive
      * messages from the iFrame.
      */
      $(document).ready(function () {
          // Create a proxy window to send to and receive
          // messages from the iFrame
          window.addWindowProxy(
              '/proxy.html',
              'frame-1'
          );

          window.addWindowProxy(
              '/proxy.html',
              'frame-2'
          );
          window.addWindowProxy(
              '/proxy.html',
              'frame-3'
          );
          window.addWindowProxy(
              '/proxy.html',
              'frame-loader'
          );

      });
    </script>
</html>
